<div class="mh-100">
    <div class="header-div grey-background p-2 d-flex align-items-center fw-medium fs-5">
        <img src="avatar-ruby.png" class="me-2 grey-border " height="35px" width="35px" alt="logo" style="border-radius: 50%; ">
        Lunch
        <div class="btn rounded-1 orange-btn ms-auto">Add an expense</div>
        <div class="btn rounded-1 green-btn ms-2">Settle up</div>
    </div>
    <div class="d-flex justify-content-between grey-background px-2 grey-bottom-border white-top-border">
        <p class="grey-text mb-0 fw-medium" style="font-size: 14px;">FEBRUARY 2025</p>
        <a class="blue-text" style="font-size: 13px;" href="">View printable summary</a>
    </div>
    <div>
        <div class="d-flex grey-bottom-border expense position-relative" (click)="toggleExpense(0)">
            <div class="d-flex align-items-center me-auto padding-9px">
                <div class="grey-text lh-1">
                    <div class="smaller-text">FEB</div>
                    <div class="fs-5" style="margin-left: -2px;">11</div>
                </div>
                <img class="px-2" src="dining-out@2x.png" alt="expense-image" height="37px">
                <div class="expense-text">Roti</div>
            </div>
            <div class="grey-text line-height-between-1-sm text-end padding-9px">
                <div class="smaller-text">you paid</div>
                <div class="fs-6 text-black fw-bold" >INR70.00</div>
            </div>
            <div class="grey-text line-height-between-1-sm padding-9px" style="width: 127px;">
                <div class="smaller-text">you lent swayam</div>
                <div class="fs-6 green-text fw-bold" >INR70.00</div>
            </div>
            <div class="fs-4 fw-bold remove-btn ms-3 me-1">
                ×
            </div>
        </div>
        @if(expanded[0]){
            <app-expense></app-expense>
        }
    </div>
    <div>
        <div class="d-flex grey-bottom-border expense position-relative" (click)="toggleExpense(1)">
            <div class="d-flex align-items-center me-auto padding-9px">
                <div class="grey-text lh-1">
                    <div class="smaller-text">FEB</div>
                    <div class="fs-5" style="margin-left: -2px;">11</div>
                </div>
                <img class="px-2" src="dining-out@2x.png" alt="expense-image" height="37px">
                <div class="expense-text">Roti</div>
            </div>
            <div class="grey-text line-height-between-1-sm text-end padding-9px">
                <div class="smaller-text">you paid</div>
                <div class="fs-6 text-black fw-bold" >INR70.00</div>
            </div>
            <div class="grey-text line-height-between-1-sm padding-9px not-involved" style="width: 127px;">
                <div class="smaller-text">not <br> involved</div>
            </div>
            <div class="fs-4 fw-bold remove-btn ms-3 me-1">
                ×
            </div>
        </div>
        @if(expanded[1]){
            <app-expense></app-expense>
        }
    </div>
    <div>
        <div class="d-flex grey-bottom-border expense position-relative" (click)="toggleExpense(2)">
            <div class="d-flex align-items-center me-auto" style="padding-left: 5px ;">
                <img class="ps-1 pe-2" src="offline.png" alt="expense-image" height="20px">
                <div class="small-text expense-text fw-normal">Sujit P. paid Sumit INR1089.60</div>
            </div>
            <div class="grey-text line-height-between-1-sm padding-9px not-involved" style="width: 127px;">
                <div class="smaller-text">not involved</div>
            </div>
            <div class="fs-4 fw-bold remove-btn-payment ms-3 me-1">
                ×
            </div>
        </div>
        @if(expanded[2]){
            <app-expense></app-expense>
        }
    </div>
    <div>
        <div class="d-flex grey-bottom-border expense position-relative" (click)="toggleExpense(3)">
            <div class="d-flex align-items-center me-auto" style="padding-left: 5px ;">
                <img class="ps-1 pe-2" src="offline.png" alt="expense-image" height="20px">
                <div class="small-text expense-text fw-normal">Sujit P. paid Sumit INR1089.60</div>
            </div>
            <div class="d-flex align-items-center">
                <div class="grey-text line-height-between-1-sm text-end padding-9px">
                    <div class="smaller-text">you paid</div>
                </div>
                <div class="green-text medium-text ps-2 fw-bold" style="width: 127px;">
                    INR269.77
                </div>
            </div>
            <div class="fs-4 fw-bold remove-btn-payment ms-3 me-1">
                ×
            </div>
        </div>
        @if(expanded[3]){
            <app-expense></app-expense>
        }
    </div>
</div>
