<div class="h-100">
    <div class="header-div grey-background p-2 d-flex align-items-center fw-medium fs-5">
        <img src="avatar-ruby.png" class="me-2 grey-border " height="35px" width="35px" alt="logo" style="border-radius: 50%; ">
        Lunch
        <div class="btn rounded-1 orange-btn ms-auto">Add an expense</div>
        <div class="btn rounded-1 green-btn ms-2">Settle up</div>
    </div>
    <div class="d-flex justify-content-between grey-background px-2 grey-bottom-border">
        <p class="grey-text mb-0 fw-medium" style="font-size: 14px;">FEBRUARY 2025</p>
        <a class="blue-text" style="font-size: 13px;" href="">View printable summary</a>
    </div>
    <div class="p-3 lh-1">
        <div class="grey-text">
            <div class="small-text">FEB</div>
            <div class="fs-5" style="margin-left: -1px;">11</div>
        </div>

    </div>
</div>
