ul{
    padding: 0;
}

ul li{
    list-style: none;
}

.facet{
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.facet-bg{
    background-image: url("../../../../public/facets.png");
    background-size: 1200px auto;
    background-repeat: repeat-x;
    background-position: top;
}
/* 
.light-btn{
    background-color: white;
    color: #1CC29F;
    font-weight: bold;
    border: none;
}

.light-btn:active{
    background-color: white;
    color: #16977b;
    font-weight: bold;
    border: none;
}

.dark-btn{
    background-color: #1CC29F; 
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px rgba(55, 59, 63, 0.5);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    
}*/

.dark-btn:hover{
    box-shadow: none;
    color: white;
    font-weight: bold;
    border: 1px solid #1CC29F;
    transform: translateY(2px);
    /* box-shadow: 0px 1px 0px 0px #1CC29F; */
/*     border-block-end: 0px; */

}
/* 
.dark-btn:active{
    background-color: #1CC29F;
    color: white;
    border: 1px solid #1CC29F;

    box-shadow: 0px 2px 0px 0px rgba(55, 59, 63, 0.5);
    transform: translateY(-2px);
} */

.teal-bg:active{
    background-color: #1CC29F;
    border: 1px solid #1CC29F;
    color: white;
}

.purple-bg:active{
    background-color: #8656cd;
    border: 1px solid #8656cd;
    color: white;
}

.crimson-bg:active{
    background-color: #a6002f;
    border: 1px solid #a6002f;
    color: white;
}
