<div class="white-triangle-background my-4 pt-5 custom-margin">
    <div class="container mx-auto rounded-4 py-4 px-5 login-form" style="max-width: 550px; min-height: 400px;">
        <h3 class="fw-light mt-2">Log in</h3>
        <label for="email" class="mb-0 mt-3">Email address</label>
        <input class="w-100 mt-1 p-1 form-field" type="text" name="email" id="email">
        <label for="password" class="mb-0 mt-3">Password</label>
        <input class="w-100 mt-1 p-1 form-field" type="password" name="password" id="password">
        <div  class="btn btn rounded-1 login-dark-btn w-100 mt-5" routerLink="/main-page">Login</div>
        <p class="text-center mt-3">
            <a style="color: #18A582; text-decoration: none;" class="fw-bold" href="">
                Forgt Your Password?
            </a>
        </p>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <div style="width: 50px; border-block: 1px solid  #E6E8EE;;"></div>
            <div style="color: #C3C9D4;" class="fw-bold">or</div>
            <div style="width: 50px; border-block: 1px solid  #E6E8EE;;"></div>
        </div>
        <div class="btn btn rounded-1 login-light-btn w-100 mt-3 mb-3 d-flex align-items-center justify-content-center gap-2">
            <img src="google.png" alt="google" width="20px" height="20px">
            <div>Sign in with Google</div>
        </div>
    </div>
</div>
