<div class="dialog-box2 bg-white rounded-2 position-absolute">
    <div class="title fw-bold text-white custom-padding d-flex align-items-center justify-content-between">
        <div>Add an expense</div>
        <div class="ms-auto text-white fw-bold fs-5" role="button" (click)="closeDiv.emit()">×</div>
    </div>
    <p class="px-3 pt-3 pb-2 mb-0 small-text">Attach an image or PDF:</p>
    <button class="green-btn rounded-1 px-2 py-1 mx-3 mb-3">Get Splitwise Pro!</button>
    <div class="light-grey-bottom-border"></div>
    <textarea class="m-3" name="whiteboard" id="whiteboard-edit-area" cols="28" rows="5" style="box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);"></textarea>
    <div class="light-grey-bottom-border mb-2"></div>
    <button class="rounded-1 green-btn px-2 py-1 mx-2 mb-2 d-block ms-auto">Done</button>
</div>