<div class="d-flex flex-wrap text-white">
    <div class="col-6 text-center pt-5 texture-background" style="background-color: #373C40;">
        <h3 class="fw-bold">Track Balances</h3>
        <p class="p-width mx-auto text-center fw-medium pb-2 lh-sm">Keep track of shared expenses, balances, and who owes who.</p>
        <img src="1.png" class="" alt="Track Balances">
    </div>
    <div class="col-6 text-center pt-5 texture-background" style="background-color: #22C09F;">
        <h3 class="fw-bold">Organize expenses</h3>
        <p class="p-width mx-auto text-center fw-medium pb-2 lh-sm">Split expenses with any group: trips, housemates, friends, and family.</p>
        <img src="2.png" alt="Track Balances">
    </div>
    <div class="col-6 text-center pt-5 texture-background" style="background-color: #EC7041;">
        <h3 class="fw-bold">Add expenses easily</h3>
        <p class="p-width mx-auto text-center fw-medium pb-2 lh-sm">Quickly add expenses on the go before you forget who paid.</p>
        <img src="3.png" alt="Track Balances">
    </div>
    <div class="col-6 text-center pt-5 texture-background" style="background-color: #373C40;">
        <h3 class="fw-bold">Pay friends back</h3>
        <p class="p-width mx-auto text-center fw-medium pb-2 lh-sm">Settle up with a friend and record any cash or online payment.</p>
        <img src="4.png" alt="Track Balances">
    </div>
    <div class="col-12 d-flex justify-content-around align-items-center text-center pt-5 texture-background" style="background-color: #8457C8">
        <div class="col-6">
            <h3 class="fw-bold">Get even more with PRO</h3>
            <p class="p-width mx-auto text-center fw-medium pb-2 lh-sm">Get even more organized with receipt scanning, charts and graphs, currency conversion, and more!</p>
            <div style="min-height: 50px" class="d-flex align-items-end justify-content-center">
                <div class="btn btn rounded-1 custom-dark-btn py-2">Sign Up</div>
            </div>
        </div>
        <div class="col-6"><img src="5.png" alt="Track Balances"></div>
    </div>
</div>