<div class="footer">
    <div class="flex-container">
      <div class="about-us">
        <div class="made-with">Made with ☻ in Providence, RI, USA</div>
        <div id="copyright">Copyright © 2025 Splitwise, Inc. All rights reserved.</div>
      </div>

      <div class="footer-links">
        <a class="block-link" href="http://www.facebook.com/splitwise"><img src="https://assets.splitwise.com/assets/fat_rabbit/homepage/facebook-5b7361fe02ff77e39295fab1cfba2d038c75d9e62839d4a2236864e6866c29fb.png"></a>
        <a class="block-link" href="http://twitter.com/splitwise"><img src="https://assets.splitwise.com/assets/fat_rabbit/homepage/twitter-b16b23af4c803a4d6d2474fcbe83e001d93b4d921bee800c3492794128ee3bc1.png"></a>

        <div class="links" style="margin: 10px 0; line-height: 24px">
          <a href="#">About</a> |
          <a href="#">Jobs</a> |
          <a href="#">Calculators</a> |
          <a href="#">Blog</a> |
          <a href="#">Terms</a> |
          <a href="#">Press</a> |
          <a href="#">API</a> |
          <a href="#">Contact us</a>
        </div>
      </div>

      <!-- <div class="clearfix"></div> -->
    </div>
  </div>