<div class="main-div row">
    <!-- <div class="row"> -->
<!--         <div class="col-3 left-sidebar" style="width: 180px;">a</div>
        <div class="p-0 center-div" style="width: 600px;">
            <router-outlet name="center-div"/>
             <app-dashboard/>
        </div>
        <div class="col-3 right-sidebar" style="width: 180px;">c</div> -->

        <div class="col-3 p-0 left-sidebar">
            <app-left-sidebar/>
        </div>
        <div class="col-6 p-0 bg-primary center-div bg-success">
            <router-outlet/>
            <!-- <app-dashboard/> -->
        </div>
        <div class="col-3 right-sidebar bg-warning">
            <router-outlet name="right-sidebar"/>
        </div>
    <!-- </div> -->
</div>
