<div class="main-div d-flex">
    <!-- <div class="row"> -->
<!--         <div class="col-3 left-sidebar" style="width: 180px;">a</div>
        <div class="p-0 center-div" style="width: 600px;">
            <router-outlet name="center-div"/>
             <app-dashboard/>
        </div>
        <div class="col-3 right-sidebar" style="width: 180px;">c</div> -->

        <div class="p-0 left-sidebar" style="width: 240px;">
            <app-left-sidebar/>
        </div>
        <div class="col-7 p-0 center-div border border-secondary-subtle border-top-0 border-bottom-0">
            <router-outlet/>
            <!-- <app-dashboard/> -->
        </div>
        <div class="col-2 ms-4 mt-3 right-sidebar">
            <router-outlet name="right-sidebar"/>
        </div>
    <!-- </div> -->
</div>
