<!-- <a class="btn btn-primary position-absolute" >Homepage</a> -->
<div class="d-flex justify-content-center" style="margin-left: -114px; margin-top: 100px;">
    <div class="col-4 text-end me-5" role="button">
        <img src="logo.svg" routerLink="/homepage" alt="logo" width="190px" height="190px">
    </div>
    <div class=" col-4">
        <p class="fw-bold grey-text">INTRODUCE YOURSELF</p>
        <label class="d-block fw-medium fs-5 mb-1" for="name">Hi there! My name is</label>
        <input (keypress)="animation()" autocomplete="off" class="name-input rounded-1 mb-3 w-100" type="text" name="name" id="name">
        <div id="email-pw" class="hidden" style="max-height: 150px;">
            <label class="d-block mb-1" for="email">Here's my <span class="fw-bold">email address</span></label>
            <input class="mb-3 rounded-1 w-100 email-pw-input" type="text" name="email" id="email">
            <label class="d-block mb-1" for="password">And here's my <span class="fw-bold">password</span></label>
            <input class="rounded-1 w-100 email-pw-input" type="text" name="password" id="password">
        </div>
        <div id="currency" class="hidden" style="max-height: 75px;">
            <label class="mt-3 mb-1 d-block" for="currency">And here’s the currency that I use:</label>
            <select name="currency" id="currency" class="w-25 bg-secondary-subtle">
                @for (currency of currencies; track $index) {
                    <option [value]="currency.name" [selected]="currency.name == 'USD'">{{currency.name + ' (' +currency.symbol+')'}}</option>
                }
                
            </select>
        </div>
        <div class="d-flex align-items-center gap-2 mt-4 mb-2">
            <div class="btn btn-lg rounded-1 orange-btn">Sign me up!</div>
            <div class="grey-text">or</div>
            <div class="btn btn rounded-1 btn-google mt-3 mb-3 px-2 py-1 d-flex align-items-center justify-content-center gap-1" style="border: 1px solid #E5E5E5;">
                <img src="google.png" alt="google" width="15px" height="15px">
                <div>Sign up with Google</div>
            </div>
        </div>
        <a href="#" class="terms-style fw-medium">By signing up, you accept the Splitwise Terms of Service.</a>
        <p class="grey-text mt-3 small-font fw-medium hidden" id="notUSD">Don't use USD for currency? <a href="" class="terms-style" (click)="unHideCurrency($event)">Click here.</a></p>


    </div>

</div>