<div class="d-flex flex-wrap justify-content-center align-items-end mx-auto" style="max-width: 80%;">
    <div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div>
    <div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div><div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div><div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div><div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div><div class="col-3 review-card px-3 py-4 m-2 rounded-1">
        <div class="mb-5 fw-medium">
            “Fundamental” for tracking finances. As good as WhatsApp for containing awkwardness.
        </div>
        <div>
            <img src="ft-152c170779821a7cff1ab468de0412defae4b4bcd1430bdd7cfc4901c8d338fc.png" alt="Financial Times" style="width: 30px;">
            <i class="ms-1 fw-medium">Financial Times</i>
        </div>
    </div>
</div>
