.review-card{
    border: 1px solid #E6E8EE;
    box-shadow: 0px 2px 0px 0px #9B9D9F;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.review-card:hover{
    box-shadow: none;
    transform: translateY(2px);
}

.review-card:active{
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px #9B9D9F;
}