
<div class="dialog-box2 bg-white rounded-2 position-absolute">
    <div class="title fw-bold text-white custom-padding d-flex align-items-center justify-content-between">
        <div>Add an expense</div>
        <div class="ms-auto text-white fw-bold fs-5" role="button" (click)="closeDiv.emit()">×</div>
    </div>
    <div class="d-flex p-2 hover-grey" role="button">
        <img src="avatar-green.png" class="me-2 grey-border" height="25px" style="border-radius: 50%;" alt="avatar" />
        <div>Sumit Sharma</div>
    </div>
    <div class="d-flex p-2 hover-grey" role="button">
        <img src="avatar-blue.png" class="me-2 grey-border" height="25px" style="border-radius: 50%;" alt="avatar" />
        <div>Jayshree Upadhyay</div>
    </div>
    <div class="d-flex p-2 hover-grey" role="button">
        <img src="avatar-ruby16.png" class="me-2 grey-border" height="25px" style="border-radius: 50%;" alt="avatar" />
        <div>Karan</div>
    </div>
    <div class="d-flex p-2 hover-grey" role="button">
        <img src="avatar-orange.png" class="me-2 grey-border" height="25px" style="border-radius: 50%;" alt="avatar" />
        <div>Sujit Pattanaik</div>
    </div>
    <div class="d-flex p-2 hover-grey" role="button">
        <img src="avatar-ruby16.png" class="me-2 grey-border" height="25px" style="border-radius: 50%;" alt="avatar" />
        <div>Ishant Yadav</div>
    </div>
</div>